<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cờ Tướng GOD</title>
    <link href="~/Content/Style/trangbanco.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/image/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/js/class.js"></script>
    <script src="~/Content/js/move.js"></script>
    <script src="~/Content/js/load.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li><a href="@Url.Action("Index", "Introduction")">Giới Thiệu</a></li>
                <li><a href="@Url.Action("Index", "Chessrule")">Cách Chơi</a></li>
            </ul>
        </nav>
        <iframe name="iframe1" id="iframe1" src="~/Content/music/nhaccotuong.mp3" frameborder="0" border="0" cellspacing="0" style="border-style: none;width: 0; height: 0;"></iframe>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Content/js/mouse.js"></script>
</body>
</html>
