<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cờ Tướng GOD</title>

    <link href="~/Content/Style/room.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/image/favicon.ico" type="image/x-icon" />
</head>
<body>
    <section>
        <div class="wrapper">
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                    <li><a href="@Url.Action("Index", "Introduction")">Giới Thiệu</a></li>
                    <li><a href="@Url.Action("Index", "Chessrule")">Cách Chơi</a></li>
                </ul>
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>
        <style>
            section {
                position: relative;
                height: 100vh;
                width: 100%;
                background-image: url('../../Content/image/azir.jpg');
                background-size: cover;
                background-position: center center;
                top: -20px;
            }
            section img {
                position: absolute;
                width: 42%;
                margin-left: 428px;
                top: 10%;
            }
        </style>
    </section>
</body>
</html>
