
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChessrule.cshtml";
}

<!-- content -->
<div class="bg">
    <h1>Cách chơi cờ Tướng cơ bản</h1>
    <div class="Gioithieu">
        <h2>1. Giới thiệu về bàn cờ tướng và quân cờ</h2>
        <p>
            Bàn cờ Tướng là một hình chữ nhật do 9 đường dọc và 10 đường ngang cắt nhau vuông góc
            tại 90 điểm hợp thành. Một khoảng trống gọi là sông (hay hà) nằm ngang giữa bàn cờ,
            chia bàn cờ thành hai phần đối xứng bằng nhau. Mỗi bên có một cung Tướng hình vuông
            (Cửu cung) do 4 ô hợp thành tại các đường dọc 4, 5, 6 kể từ đường ngang cuối của mỗi bên,
            trong 4 ô này có vẽ hai đường chéo xuyên qua.
        </p>
        <img src="~/Content/image/hinhbanco.jpg" class="banco" style="width: 40%; height: 40%; margin-top: 15px; margin-bottom: 15px;">
        <p>
            Theo quy ước, khi bàn cờ được quan sát chính diện, phía dưới sẽ là quân Trắng (hoặc Đỏ),
            phía trên sẽ là quân Đen. Các đường dọc bên Trắng (Đỏ) được đánh số từ 1 đến 9 từ phải qua trái.
            Các đường dọc bên Đen được đánh số từ 9 tới 1 từ phải qua trái.
            Mỗi ván cờ lúc bắt đầu phải có đủ 32 quân, chia đều cho mỗi bên gồm 16 quân Trắng (Đỏ)
            và 16 quân Đen, gồm 7 loại quân, có ký hiệu và số lượng cho mỗi bên như sau
        </p>
        <img src="~/Content/image/concotuong.png" class="banco" style="margin-top: 20px; margin-bottom: 20px;">
        <h2>2. Nguyên tắc di chuyển của từng quân cờ tướng</h2>
        <p>
            &ensp; <b>1.Tốt</b>: (hay Binh) đi một ô mỗi nước. Nếu chốt chưa vượt qua sông, nó chỉ có thể đi thẳng tiến. Khi đã vượt sông rồi, chốt có thể đi ngang 1 nước hay đi thẳng tiến 1 bước mỗi nước.<br><br>

            &ensp; <b>2.Pháo</b>: Đi ngang và dọc giống như xe. Điểm khác biệt là nếu pháo muốn ăn quân, pháo phải nhảy qua đúng 1 quân nào đó. Khi không ăn quân, tất cả những điểm từ chỗ đi đến chỗ đến phải không có quân cản.<br> <br>

            &ensp; <b>3.Mã</b>: Đi ngang 2 ô và dọc 1 ô (hay dọc 2 ô và ngang 1 ô) cho mỗi nước đi. Nếu có quân nằm ngay bên cạnh mã và cản đường ngang 2 (hay đường dọc 2), mã bị cản không được đi đường đó.<br> <br>

            &ensp; <b>4.Xe</b>: Đi ngang hay dọc trên bàn cờ miễn là đừng bị quân khác cản đường từ điểm đi đến điểm đến.<br> <br>

            &ensp; <b>5.Tượng</b>: Đi chéo 2 ô (ngang 2 và dọc 2) cho mỗi nước đi. Tượng chỉ được phép ở một bên của bàn cờ, không được di chuyển sang nữa bàn cờ của đối phương. Nước đi của tượng sẽ không hợp lệ khi có một quân cờ nằm chặn giữa đường đi.<br> <br>

            &ensp; <b>6.Sĩ</b>: Đi chéo 1 ô mỗi nước. Sĩ luôn luôn phải ở trong cung như con Tướng.<br> <br>

            &ensp; <b>7.Tướng</b>: Đi từng ô một, đi ngang hoặc dọc. Tướng luôn luôn phải ở trong phạm vi cung và không được ra ngoài. "Cung" tức là hình vuông 3×3 được đánh dấu bởi đường chéo hình chữ X.<br>
        </p>
        <h2>3. Luật chơi căn bản</h2>
        <p>
            &ensp;Cờ Tướng rất nhiều quy tắc riêng và có thể nói là khá "khó nhằn" với người chưa biết chơi.
            Nhưng bạn cũng chỉ cần nắm được những khái niệm căn bản sau:
        </p>
        <h3>✍Bắt quân</h3>
        <p>
            &emsp;❶: Khi một quân đi tới một giao điểm khác đã có quân đối phương đứng thì được quyền bắt quân đó, đồng thời chiếm giữ vị trí quân bị bắt.
            Không được bắt quân bên mình.<br>

            &emsp;❷: Được phép cho đối phương bắt đầu quân mình hay chủ động hiến quân mình cho đối phương, trừ tướng.<br>

            &emsp;❸: Quân bị bắt phải bị loại và bị nhấc ra khỏi bàn cờ.<br>
        </p>
        <h3>✍Chiếu tướng</h3>
        <p>
            &emsp;❶: Quân của một bên đi một nước uy hiếp để nước tiếp theo chính quân đó hoặc quân khác bắt được tướng của đối phương thì gọi đó là nước chiếu tướng.<br>
            &emsp;❷: Bên bị chiếu tướng phải tìm cách chống đỡ ứng phó, tránh nước chiếu tướng. Nếu không sẽ bị thua ván cờ.<br>
            &emsp;❸: Khi đi nước chiếu tướng, bên đi có thể hô "chiếu tướng" hay không cần hô cũng được.<br>
            &emsp;❹: Tướng bị chiếu từ cả bốn hướng (bị chiếu cả từ phía sau)<br>
            &emsp;❺: Bên bị chiếu tướng phải di chuyển tướng sang vị trí khác để tránh nước chiếu và bắt quân đang chiếu.<br>
            &emsp;❻: Và bên bị chiếu phải dùng quân khác cản quân chiếu, đi quân che đỡ cho tướng.<br>
        </p>
        <h3>✍Chống tướng</h3>
        <p>
            &emsp;❶: Hai tướng trên bàn không được nằm trên cùng một cột dọc mà không có quân cản ở giữa.<br>
            &emsp;❷: Nước đi để 2 quân tướng ở vị trí chống tướng là không hợp lệ.<br>
        </p>
        <h3>✍Đuổi Quân</h3>
        <p>
            &emsp;❶: Một quân di chuyển đến vị trí mà nó có thể bắt quân nào đó của đối phương (trừ tướng) trong nước tiếp.<br>
            &emsp;❷: Hoặc một nước đi làm cho Pháo chiếu quân đối phương.<br>
            ⌛Loại trừ các ngoại lệ sau:<br>
            &emsp;❶: Khi nước đi của tướng hoặc tốt chiếu quân đối phương. Nước đi này không gọi là nước đuổi quân.<br>
            &emsp;❷: Nước đi hăm dọa tốt chưa sang sông không được cho là nước đuổi quân.<br>
            &emsp;❸: Nước thí quân không được gọi là nước đuổi quân.<br>
        </p>
        <h3>✍Thắng cờ</h3>
        <p>
            &emsp;❶: Chiếu bí được tướng đối phương.<br>
            &emsp;❷: Chiếu tướng đối phương mà đối phương không chống đỡ cho tướng mình được.<br>
            &emsp;❸: Đối phương không đi đủ số nước quy định trong thời gian quy định.<br>
            &emsp;❹: Đối phương tới chậm quá thời gian quy định để bắt đầu ván đấu.<br>
            &emsp;❺: Đối phương dùng một quân chiếu mãi hoặc dùng nhiều quân thay nhau chiếu mãi, thì phải thay đổi nước đi, nếu không bị xử thua.<br>
            &emsp;❻: Đối phương phạm luật cấm, còn bên này không phạm luật, bên phạm luật không chịu thay đổi nước đi.<br>
        </p>
        <h3>✍Thua cờ</h3>
        <p>
            &emsp;❶: Không ghi 3 lần biên bản mỗi lần gồm 4 nước liên tục.<br>
            &emsp;❷: Đối phương mắc lỗi kỹ thuật 3 lần, mắc lỗi tác phong 3 lần.<br>
            &emsp;❸: Đối phương vi phạm các trường hợp bị xử thua cụ thể trên các thế cờ.<br>
        </p>
        <h3>✍Hòa cờ</h3>
        <p>
            &emsp;❶: Trọng tài xét thấy ván cờ mà hai bên không thể bên nào thắng, tức là cả hai bên không còn quân nào có thể tấn công đối phương để chiếu bí được tướng đối phương.<br>
            &emsp;❷: Khi tổng số nước đi kể từ lần cuối cùng ván cờ có tiến triển là 30. Ván cờ có tiến triển là khi có quân bị bắt hoặc khi tốt đã sang sông và tiến lên một bước.<br>
            &emsp;❸: Hai bên đều không phạm luật cấm và đều không chịu thay đổi nước đi.<br>
            &emsp;❹: Hai bên cùng một lúc phạm cùng một điều luật cấm.<br>
            &emsp;❺: Khi tổng số nước đi của ván cờ là 300.<br>
            &emsp;❻: Một bên đề nghị hòa, bên đối phương đồng ý thì ván cờ mặc nhiên được công nhận là hòa.<br>
        </p>
        <h2 style="margin-top: 20px;">Một số Video tham khảo</h2>
        <div class="thamkhao">
            <iframe width="290" height="215" src="https://www.youtube.com/embed/Kca69f104jw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="215" src="https://www.youtube.com/embed/K5sfbFomyw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="289" height="215" src="https://www.youtube.com/embed/zdptUZRPtrI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

