
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChessboard.cshtml";
}

<div class="bg">
    <img class="boxstrangle" src="~/Content/imageco/Banco.png" alt="" style="position: absolute; margin-left: 234px; width: 62%;">   
</div>
<div class="chatback">
    <img src="~/Content/imageco/bg.jpg" style="position: absolute; height: 86%; margin-left: 62%; top: 11.7%; width: 17%; border-radius: 5px"/>
</div>

