
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRoom.cshtml";
}

<button class="snip1582" onclick="window.location.href='@Url.Action("Index", "Chessboard")'">Tạo Bàn Mới</button>
<button class="snip1582">Các Bàn Chơi</button>
<img src="~/Content/image/DANHSACHPHONG.png" alt="">
<div class="form-container">
    <!-- phần list danh sách phòng -->

</div>

